@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}



/* width */
::-webkit-scrollbar {
    width: .5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #00000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(75, 219, 8, 0);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 0, 0, 0);
  }











html{
    scroll-behavior: smooth;
}
/* Serious design */
.container-center{
    max-width: 500px;
    margin: auto;
}
.div-categories{
    background: white;
    padding: 2rem 0;
    margin-bottom: 1rem;
    /* border: 2px solid black; */
    z-index: 1;
}
.div-results{
    padding: 2rem 0;
    /* border: 2px solid black; */
}
.div-results .card{
    background: red;
    color: white;
    border: 2px solid white;

}
.div-results .card:hover{
    background: white;
    color: red;
    border: 2px solid red;

}
.div-results .card:hover a{
    color: red;
}
.topic{
    transition: .6s all;
    border: 2px solid red;
    padding: .5rem;
    margin: .2rem .2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: .9rem;
}
.card{
    margin-bottom: .7rem;
    text-decoration: none;
    border-radius: 10px;
    background: red;
    color: white;
    /* border: 2px solid red; */
    transition: .6s all;    
    padding: .5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: .2rem;
    font-size: .9rem;
}
.card:hover{
    background: white;
    color: red;
}
.card .div-left{
    width: 40%;
    /* border: 2px solid red; */
    padding: 0 0.8rem;
}
.card .div-right{
    position: relative;
    left: -1rem;
    width: 50%;
    /* border: 2px solid green; */
    padding: 0 1rem;
}
.div-results .card:hover .card .div-left img{
    box-shadow: 1px 11px 29px 0px rgba(0,0,0,0.77);

}
.card .div-left img{
    margin-left: -0.2rem;
    border-radius: 10px;
    width: 100%;
    margin-right: .5rem;
}

.card p{
    font-style: italic;
    margin: .6rem 0;
}
.card .length{
    position: relative;
    top: -10px;
}
.card a{
    transition: .6s all;
    text-decoration: none;

    font-weight: 700;
    color:  white;
}
li:hover a{
    color: white;
}
.topic:hover{
    background: red;
    color: white;
}


@media screen and (max-width: 450px) {
    .card .div-left img{
        height: 100px;
        object-fit: cover;
        object-position: center;
    
    }
    .card{
        font-size: .7rem;
    }
}


.activeTopic{
    background: red;
    color: white;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}